.button-5 {
    background-color: white;
    border: none;
    color: black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    cursor: pointer;
}
.button-5:hover {background-color: lightgrey}

.button-5:active {
  background-color: lightgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button {
    background-color: #b70c29;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    cursor: pointer;
}
.button:hover {background-color: #e86161}

.button:active {
  background-color: #e86161;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttoncart {
    background-color: #EC184A;
    border: none;
    color: white;
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    cursor: pointer;
}
.buttoncart:hover {background-color: #C6093C}

.buttoncart:active {
  background-color: #C6093C;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-3 {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 25px 0px 0px 0px;
    cursor: pointer;
}
.button-3:hover {background-color: lightgrey}

.button-3:active {
  background-color: lightgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-cart {
  background-color: white;
  color: black;
  text-decoration: none;
  margin: 25px 0px 0px 1000px;
  display: inline-block;
  padding: 15px 26px;
  position: relative;
}
.button-cart:hover {background-color: lightgrey}

.button-cart .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 5px;
  border-radius: 50%;
  background-color: red;
  color: white;
}


.button-4 {
    background-color: white;
    border: none;
    color: black;
    padding: 25px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}
.button-4:hover {background-color: lightgrey}

.button-4:active {
  background-color: lightgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.black-button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.black-button:hover {background-color: lightgrey}

.black-button:active {
  background-color: lightgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-blue {
    background-color: #2A5BCE;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-blue:hover {
  background-color: lightgrey;
  color:black;
}

.button-blue:active {
  background-color:lightgrey;
  color:black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-b {
    background-color: #2A5BCE;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-b:hover {
  background-color: lightgrey;
  color:black;
}

.button-b:active {
  background-color:lightgrey;
  color:black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-search {
    background-color: #2A5BCE;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-search:hover {
  background-color: lightgrey;
  color:black;
}

.button-search:active {
  background-color:lightgrey;
  color:black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
  border-radius: 40px;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 30px;
  width: 200px ;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.btn {
  background-color: #FEFDDF;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
