.f-10 {
    font-size: 10px;
}

.f-20 {
    font-size: 20px;
}

.f-30 {
    font-size: 30px;
}

.f-40 {
    font-size: 40px;
}

.f-50 {
    font-size: 50px;
}

.f-60 {
    font-size: 60px;
}

.f-70 {
    font-size: 70px;
}

.f-80 {
    font-size: 80px;
}
